//SCALE BUILDING BLOCKS
//the base

$base: 16px;

//the ratio
$ratio: 1.25;

//notes in the scale
// The 6th note in the type scale, so calculate 1rem*ratio^6
$n-plus-6: calc(1rem*(#{$ratio}*#{$ratio}*#{$ratio}*#{$ratio}*#{$ratio}*#{$ratio}));
// The 5th note in the type scale, so calculate 1rem*ratio^5
$n-plus-5: calc(1rem*(#{$ratio}*#{$ratio}*#{$ratio}*#{$ratio}*#{$ratio}));
// The 4th note in the type scale, so calculate 1rem*ratio^4
$n-plus-4: calc(1rem*(#{$ratio}*#{$ratio}*#{$ratio}*#{$ratio}));
// The 3rd note in the type scale, so calculate 1rem*ratio^3
$n-plus-3: calc(1rem*(#{$ratio}*#{$ratio}*#{$ratio}));
// The 2nd note in the type scale, so calculate 1rem*ratio^2
$n-plus-2: calc(1rem*(#{$ratio}*#{$ratio}));
// The 1st note in the type scale, so calculate 1rem*ratio^1
$n-plus-1: calc(1rem*(#{$ratio}));
// Scale -1, so calculate 1rem*ratio^-1, but because SASS can't handle power we'll use 1rem/ratio^1
$font-size-minus-1: calc(1rem/(#{$ratio}));

/* ==========================================================================
   #TEXT SIZES
    Base text sizes to help with consistency throughout the project
   ========================================================================== */

@mixin font-size-minus-1 {
    font-size: $font-size-minus-1;
}

@mixin font-size-0 {
    font-size: 1rem;
}

@mixin font-size-1 {
    font-size: $n-plus-1;
}

@mixin font-size-2 {
    font-size: $n-plus-2;
}

@mixin font-size-3 {
    font-size: $n-plus-3;
    line-height: 1.25;
}

@mixin font-size-4 {
    font-size: $n-plus-4;
    line-height: 1.25;
}

@mixin font-size-5 {
    font-size: $n-plus-5;
    line-height: 1.25;
}

@mixin font-size-6 {
    font-size: $n-plus-6;
    line-height: 1.25;
}

.o-txt-center {
    text-align: center;
}

h6 {
    @include font-size-1;
}

h5 {
    @include font-size-2;
}

h4 {
    @include font-size-3;
}

h3 {
    @include font-size-4;
}

h2 {
    @include font-size-5;
}

h1 {
    @include font-size-6;
}