@import "_reset.scss";

$white: white;
$black: black;

// Breakpoints 
$mobile:	600px;
$tablet:	750px;
$desktop:	1000px;
$wide:    	1200px;
$superwide:	1500px;

// Site Width
$max-site-width: 1600px;

// Standardise some UI treatments.
$global-radius: 4px !default;
$global-transition: all 300ms ease-in-out !default;

@import "_mq.scss";
@import "_textsizes.scss";

main {
	padding-top: 3vw;
	padding-bottom: 3vw;
	font-family: monospace;
}